@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto, serif;
    margin: 0px;
    display: flex;
    flex-direction: column;
}


@media all and (max-width: 750px){
    ul {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 0px;
        margin: 0px;
        font-weight: 100;
        font-size: small;
    }
    
    .logo {display: none;}

    .nav {
        display: block;
    }

    .links {
        display: none;
    }
}

@media all and (min-width: 750px){
    ul {
        list-style: none;
        display: flex;
        gap: 10px;
        padding: 0px;
        margin: 0px;
        font-weight: 100;
        font-size: small;
    }

    .nav {display: none;}

    .logo {font-weight: 900;}
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    align-items: center;
    padding-left: 20px;
    padding-right: 50px;
}

.top-content {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;
    align-items: center;
    font-size: medium;
    justify-content: space-evenly;
    gap: 40px;
    padding: 100px 20px;
    background-image: url(images/blue-pic.jpg);
}

.left {
    display: flex;
    flex-direction: column;
    width: 400px;
    gap: 10px;
}

.left .main-text {
    font-size: 30px;
    font-weight: 900;
}

.links, .subtext {
    filter: contrast(80%);
    font-size: 14px;
}

.top-content button {
    width: 100px;
    border-radius: 6px;
    border: none;
    background-color: #3882f6;
    color: #F9FAF8;
    height: 20px;
}

.right {
    width: 350px;
    height: auto;
}

.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    min-height: 300px;
    justify-content: space-evenly;
}

.second-section .main-text {
    filter: contrast(70%);
    font-size: 30px;
    font-weight: 900;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 25px;
    max-width: 700px;
    height: 250px;
}

.box {
    height: 120px;
    width: 120px;
    border: 3px solid #3882f6;
    border-radius: 15px;
    margin: 0 auto;
}

.boxes {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.boxes .subtext {
    text-align: center;
    width: auto;
}

.third-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    padding: 80px;
    gap: 10px;
}

.third-section .content {
    max-width: 700px;
    display: flex;
    flex-direction: column;
}

.quote {
    font-size: 30px;
    font-weight: lighter;
    align-items: center;
    color: #1F2937;
}

.content .person {
    align-self: flex-end;
    font-weight: bold;
    color: #1F2937;
}

.fourth-section {
    display: flex;
    padding: 50px;
    justify-content: center;
}

.fourth-section .content {
    display: flex;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    background-color: #3882f6;
    color: #F9FAF8;
    border-radius: 5px;
}

.fourth-section .content .left {
    display: flex;
    flex-direction: column;
    width: 500px;
    gap: 0px;
}

.fourth-section .content .left .the-call {
    font-size: larger;
    font-weight: bold;
}

.fourth-section button {
    width: 100px;
    border-radius: 6px;
    border: 2px solid white;
    background-color: #3882f6;
    color: #F9FAF8;
    height: 25px;
}

.footer {
    display: flex;
    height: 50px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: small;
    justify-content: center;
    align-items: center;
}